/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.questions-form .note { font-size: 0.8em; }
.questions-form .question-block { margin-bottom: 20px; }

.questions-form .select-month { width: 9em; }
.questions-form .select-day   { width: 4em; }
.questions-form .select-year  { width: 5em; }
