.questions-form .note { font-size: 0.8em; }
.questions-form .question-block { margin-bottom: 20px; }

.questions-form .select-month { width: 10em; }
.questions-form .select-day   { width: 4em; }
.questions-form .select-year  { width: 5em; }

.questions-form select {
  width: 10em;
}

.questions-form .compact-input {
  vertical-align: top;
}

.questions-form .question-and-note {
  width: 320px;
}

.questions-form .question-and-note,
.questions-form .compact-input {
  display: inline-block;
}